.about {
  background-color: var(--white-color);
  color: var(--dark-gray-color);

  .skills {
    display: flex;

    ul {
      padding-right: 5rem;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    .skills {
      ul {
        padding-right: 2.5rem;
      }
    }
  }
}
