.app {
  position: relative;

  .left-section {
    height: 100vh;
    position: fixed;
    width: 50%;
    float: left;
  }

  .right-section {
    width: 50%;
    float: right;
  }
}

@media (max-width: 1024px) {
  .app {
    .left-section {
      width: 100%;
      float:none;
      position: relative;
      height: auto;
    }

    .right-section {
      width: 100%;
      float: none;
    }
  }
}